.customNavbar {
  height: 5vh; /* Set your desired height here */
}

.navItem {
  color: white;
  text-align: center;
}

.logoNavItem {
  font-size: 2.5vh;
}

.dropDownItem{
  text-align: center;
}
  
  
  
  