.container{
    height: 40vh;
    width: 20vw;
    margin: auto;
    cursor: pointer;
}

.imageArea {
    height: 30vh;
    width: 20vw;
}

.image {
    height: 30vh;
    width: 100%;
}

.labelsArea {
    height: 10vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.sale {
    color: rgb(45, 133, 48);
    font-weight: bold;
}
