.itemContainer {
    position: relative;
    height: 20%;
    width: 100%;
    border-bottom-style: solid;
    display: flex;
    align-items: center; /* Vertically center align the contents */
  }
  
  .imageArea {
    height: 100%;
    width: 10%;
    display: flex; /* Add this to make the label and image appear side by side */
    align-items: center; /* Vertically center align the contents */
  }
  
  .image {
    height: 100%;
    width: 100%;
  }
  
  .quantityLabel {
    display: inline-block;
    font-size: 3vh;
  }

  .descriptionArea {
    display: inline-block;
    margin-left: 5vw;
    width: 50%;
    text-align: center;
  }

  .quantityArea {
    display: inline-block;
    margin-left: 5vw;
    width: 5vw;
  }

  .priceArea{
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    justify-content: center;
  }