.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.titleContent {
    flex-grow: 1;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10vh;
    row-gap: 10vh;
    margin-top: 10vh;
    overflow-y: auto;
}

.buttonsArea {
    text-align: center;
    margin-top: 3vh;
}

