.title {
    text-align: center;
    margin-top: 5vh;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10vh;
    row-gap: 10vh;
    margin-top: 10vh;
    overflow-y: auto;
}


.buttonsArea {
    height: 20vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

