.container {
    text-align: center;
    border-style: solid;
    border-bottom-style: none;
}

.productInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 7vh;
    width: 3vw;
}

.caption {
    color: white;
}

.header {
    color: rgb(147, 209, 147);
}

.price {
    color: rgb(147, 209, 147);
}