.container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    width: 30vw;
    height: 75vh;
    background-color: white;
    border-style: solid;
    border-width: 0.1px;
    z-index: 1;
}

.imageArea {
    width: 30vw;
    height: 50vh;
}

.image {
    width: 29vw;
    height: 50vh;
}

.summaryArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 20vh;
}

.buttonAdd {
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border-style: none;
    color: rgb(25, 116, 27);
    font-size: 17px;
    font-family: "Gill Sans", sans-serif;
}

.singleButton{
    position: relative;
    height: 20%;
    width: 40%;
    margin-top: 5px;
    background-color: white;
    border-style: solid;
    border-width: 0.8px;
    border-color: rgb(25, 116, 27);
    color: rgb(25, 116, 27);
    text-align: center;
}

.exit {
    position: absolute;
    top: 0;
    right: 0;
    font-size: larger;
    cursor: pointer;
    width: 1vw;
}